body {
    font-family: 'Work Sans', sans-serif;
}

.nav-link,
.dropdown-item {
    transition: background-color 0.4s ease, color 0.4s ease;
}

.nav-link:hover,
.dropdown-item:hover {
    background-color: #e9ecef;
    color: #212529;
}

.navbar-toggler {
    border: none;
    box-shadow: none;
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

.navbar-toggler-icon {
    background-image: none;
    width: 24px;
    height: 2px;
    background-color: #000;
    display: block;
    position: relative;
}

.navbar-toggler-icon::before,
.navbar-toggler-icon::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 2px;
    background-color: #000;
    left: 0;
}

.navbar-toggler-icon::before {
    top: -8px;
}

.navbar-toggler-icon::after {
    top: 8px;
}

.logo-equipo {
    max-height: 150px;
    width: auto;
    margin: 0 auto;
    display: block;
    object-fit: contain;
}

.carousel-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;
}

#carouselAside {
    overflow: hidden;
}

.logo-hover {
    transition: transform 0.3s ease;
}

.logo-hover:hover {
    transform: scale(1.5);
}

.logo_astonmartin {
    max-height: 90px;
    width: auto;
    margin: 0 auto;
    display: block;
    object-fit: contain;
}

/* ========================= */
/* TITULOS DEL CARRUSEL ARRIBA */
/* ========================= */
.carousel-item {
    position: relative; /* Necesario para posicionar correctamente el título */
}

.carousel-caption {
    position: absolute;
    top: 0;
    bottom: auto;
    background: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    width: 100%;
    padding: 10px 0;
    text-align: center;
}

.carousel-caption h5 {
    color: #fff;
    font-weight: bold;
    margin: 0;
}

.carousel-title {
  background-color: #f8f9fa;
  color: #c00; /* rojo */
  text-align: center;
  padding: 8px 0;
  font-family: 'Work Sans', sans-serif;
  font-weight: 700;
  font-size: 1.1rem;
  border-top: 1px solid #ddd;
  user-select: none;
}

#hash_reglamento {
    max-width: 600px;
    background: white;
    border-radius: 8px;
    font-family: monospace;
    font-size: 1rem;
    word-break: break-word;
    color: #2c3e50;
    white-space: pre-wrap;
    text-align: center;
}
#carouselAside {
    overflow: hidden; /* ya existente */
    background-color: #f8f9fa; /* fondo gris claro */
    border-radius: 10px;       /* bordes redondeados */
    padding: 15px;             /* espacio interno */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* sombra suave */
    margin-bottom: 20px;       /* separación inferior */
}

.text-justify {  
    text-align: justify;
    font-size: 1.1em;
}